*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    outline: 1px solid grey;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.contenedorPrincipal{
    position: relative;
    top: 10px;
    margin:  20px auto;
    width: 95%;
    border-radius: 25px;
    background-color: #bbbbbb70 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor{
    width: 90%;
    height: 90%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.buscador{
    position: relative;
    margin: 20px;
    flex-basis: 100%;
    display: flex;
    align-content: center;
    justify-content: center;

}
.buscador__input{
    width: 80%;
}


.opcionesLateralIzq{
    position: relative;
    flex-wrap: wrap;
    display: flex;
    min-height: 500px;
    flex-grow: 4;
  
}

.opcionesLateralDer{
    position: relative;
    flex-wrap: wrap;
    display: flex;
    min-height: 500px;
    max-width: 200px;
    flex-grow: 1;


}
.nombrePKM{
    display: block;
    flex-basis: 100%;
    margin: auto;
    padding: 20px;
}
.marcoImagen{
    display: block;
    margin: auto 50px;
    flex-basis: 100%;
    height: 200px;
}
.controles{
    display: flex;
    flex-basis: 100%;

}
.botonControl{
    width: 30px;
    flex-grow: 1;
}
.navLateral{
    flex-grow: 1;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.botonNav{
    flex-basis: 100%;
    flex-grow: 1;
    align-content: center;
    justify-content: center;

    outline: rgb(255, 0, 212) solid 2px;
}

.botonNav img{
    height: 90%;

}

footer{
    height: 100px;
}