*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("recursos/imagenes/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.contenedorPrincipal{
    position: relative;
    margin:  10px auto 0;
    width: 95%;
    height: 97vh;
    border-radius: 25px;
    background-color: #bbbbbb99 ;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
    padding: 10px;
}
.contenedor{
    width: 90%;
    height: 100%;
    margin-top: 0;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.container{
    display: flex;
    align-self: center;
    width: 100%;
    max-height: 50px;

}
.buscador{
    position: relative;
    width:80%;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 25px;
    box-shadow: 3px 3px 10px;
    z-index: 50;


}
.buscador__input{
    width: 100%;
    height: 50px;
    font-size: 25px;
    padding: 5px 10px;
}
.buscador__buscar{
    height: 50px;
    font-size: 20px;
    background-color: #f33;
    padding: 5px 5px;
    color: #fff;
}
.opcionesLateralIzq{
    position: relative;
    flex-direction: column;
    display: flex;
    flex-grow: 6;
    padding: 10px;
}
.opcionesLateralDer{
    position: relative;
    flex-direction: column;
    display: flex;
    max-width: 200px;
    flex-grow: 1;
    padding: 10px;

    
}
.nombrePKM{
    display: block;
    flex-basis: 100%;
    background: linear-gradient(to right, #33333339 40%, #ff222299 70%, #2222ff99 85%);
    border-radius: 5px;
    max-height: 15%;
    padding: 10px 20px;
}

.espacioCompletoImg{
    display: flex;
    background: linear-gradient(to bottom,#33333339, transparent 90% );
}
.marcoImagen{
    display: block;
    margin: 0 auto;
    height: 300px;
    padding: 50px;
    z-index: 50;
}

.imagenPKM{
    width: 150px;
}

.relleno{
    margin: auto;
}
.controles{
    display: flex;
    align-content: space-between;
    justify-content: baseline;
    flex-wrap: wrap-reverse;
    margin-top: auto;
    color: #ddd;
    font-size: 20px;
    max-height: 150px;
}
.botonControl{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: #44444499;
    border-radius: 5px;
    margin: 0 ;
    height: 150px;
    max-width: 250px;

}
.botonControl:hover {
    background-color: #11111199;
    color: #df0;
}
.botonControl:active{
    background-color: #00000099;
    color: #0df;
}

.controlImgContenedor img{
    width: 80px;
}
.navLateral{
    flex-grow: 1;
    align-content: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.botonNav{
    flex-basis: 150px;
    min-width: 150px;
    height: 150px;
    flex-grow: 0;
    flex-shrink: 0;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color:#44444499;
    border-radius: 5px;
    color: #ddd;
    font-size: 20px;
    z-index: 50;
}
.botonNav:hover {
    background-color: #11111199;
    color: #0df;
}
.botonNav:active{
    background-color: #00000099;
    color: #0df;
}

.botonNav img{
    width: 100px;
}
footer{
    position:absolute;
    top: 250px;
    left: -105px;
    z-index: 0;
    height: 100px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.imgFooter{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}
.informacionFooter{
    height: 29px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #fff;
}
.imgFooter img{
    width: 50%;
}