*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    outline: 1px solid grey;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;

}

.contenedorPrincipal{
    position: fixed;
    top: 10px;
    left: auto;
    right: auto;
    width: 95%;
    height: 90vh;
    border-radius: 25px;
    background-color: rgb(166, 205, 212);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor{
    width: 90%;
    height: 90%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

}

.buscador{
    position: absolute;
    margin: 10px;
    flex-basis: 100%;
    outline: solid 2px chocolate;

}


.opcionesLateralIzq{
    position: relative;
    flex-wrap: wrap;
    display: flex;
    height: 100%;
    flex-grow: 4;
    
    
    outline: green solid 2px;
}

.opcionesLateralDer{
    position: relative;
    flex-wrap: wrap;
    display: flex;
    height: 100%;
    max-width: 200px;
    flex-grow: 1;


}
.nombrePKM{
    display: block;
    flex-basis: 100%;
    margin: auto;
}
.marcoImagen{
    display: block;
    margin: auto 10px;
    flex-basis: 100%;
    height: 200px;
    outline: solid 2px pink;
}
.controles{
    display: flex;
    flex-basis: 100%;

}
.botonControl{
    width: 30px;
    flex-grow: 1;
}
.navLateral{
    flex-grow: 1;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.botonNav{
    flex-basis: 100%;
    height: 100px;
    align-content: center;
    justify-content: center;

    outline: rgb(255, 0, 212) solid 2px;
}

.botonNav img{
    height: 90%;

}
